html {
	height: 100vh;
  background-image: linear-gradient(to right top, #d7d688, #efc685, #fdb790, #ffaba3, #f6a5b8);
}

header{
  position: fixed;
  width: 100%;
  height: 112px;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right a { 
  padding: 10px;
  margin-right: 15px;
  color: black;
  text-decoration: none;
}

.header-right a:hover{ 
  filter: brightness(1.2);
  border-radius: 5px;
  transition: 0.4s;
  background-color: #F6A5B8;
}


header img{
  width: 467px ;
  height: 112px;}

section{
  margin-top: 100px;
}

header{
  z-index: 2;
}

.hidden{
  display: none !important;
}


.books{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.search{
  width: 600px;
  height: 30px;
  display: flex;
  align-self: center;
  border-radius: 8px;
  border: rgba(59, 58, 58, 0.4) solid 1px;
  padding:10px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: space-between;
  align-items: center;
}

.book-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.book-single{
  width: 150px;
  max-height: 200px;
  padding-bottom: 10px;
  background-color: #fff;
  margin:5px 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: rgba(59, 58, 58, 0.4) solid 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
}

.book-single img{
  display: flex;
  align-items: center;
  height: 160px;
  width: 100px;
  height: 150px;
  cursor: pointer;

  
}
#cover {
  background-color: aqua;
}

.book-single p{
  overflow: hidden;
  font-weight: 600;
}

.fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.4);
  z-index: 5;
}

#modal{
  position: fixed;
  left: 50%;
  top:50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#modal p{
  padding-left: 20px;
}
.close-modal{

  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  align-self:flex-end;
}

.close-modal:hover {
  filter: brightness(1.2);
  border-radius: 5px;
  transition: 0.4s;
  background-color: #F6A5B8;
}

#modal img{
  width: 100px;
  height: 150px;
  display: flex;
  align-self: center;
}


.modal-container {
  width: 100vw;
  height: 100vh;

}
