* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
    background-image: linear-gradient(to right top, #d7d688, #efc685, #fdb790, #ffaba3, #f6a5b8);
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}